body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", "PT Sans Narrow", sans-serif;
  background-color: #f5f7f8;
  overflow: visible;
  font-size: 0.88rem;
}

h2 {
  margin: 0.2rem;
}

h4 {
  text-align: center;
  margin: 0.5rem;
}

select {
  width: 10rem;
}

.header_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}

.main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.part_selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.2rem;
}

.wanzer_container {
  width: 30rem;
  height: 100%;
  border: solid 0.2rem #999999;
  padding: 0.5rem;
}

.stats_grid {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-template-rows: 2rem 3rem 10rem 3rem 10rem 3rem 10rem;
}

.grid_item {
  border: solid 0.1rem black;
  margin: 0.2rem;
  padding: 0.2rem;
  padding-top: 0.1rem;
}

.weightToOutput {
  grid-column: 1 / span 1;
  border: solid 0.1rem black;
  margin: 0.2rem;
  padding: 0.1rem;
  padding-top: 0.25rem;
  font-size: 0.7rem;
  text-align: center;
  background-color: white;
}

.WObar1 {
  grid-column: 2 / span 2;
  border: solid 0.1rem black;
  margin: 0.2rem;
}

.footer_container {
  bottom: 0;
  display: flex;
  justify-content: center;
  color: #dadada;
}

#weightToOutputBar {
  height: 100%;
  width: 100%;
  background-color: #ffc4c0;
}

#wRShoulder {
  font-size: 100%;
  background: url(assets/fm5builderbackgroundicons_rshoulder.png);
  background-size: 100%;
  background-color: #ffc4c0;
}

#wBackpack {
  font-size: 100%;
  background: url(assets/fm5builderbackgroundicons_backpack.png);
  background-size: 100%;
  background-color: #ffc4c0;
}

#wLShoulder {
  font-size: 100%;
  background: url(assets/fm5builderbackgroundicons_lshoulder.png);
  background-size: 100%;
  background-color: #ffc4c0;
}

#wRArm {
  font-size: 100%;
  background: url(assets/fm5builderbackgroundicons_rarm.png);
  background-size: 100%;
  background-color: #ffc4c0;
}

#wBody {
  font-size: 100%;
  background: url(assets/fm5builderbackgroundicons_body.png);
  background-size: 100%;
  background-color: #ffc4c0;
}

#wLArm {
  font-size: 100%;
  background: url(assets/fm5builderbackgroundicons_larm.png);
  background-size: 100%;
  background-color: #ffc4c0;
}

#wRHand {
  font-size: 100%;
  background: url(assets/fm5builderbackgroundicons_rhand.png);
  background-size: 100%;
  background-color: #ffc4c0;
}

#wLegs {
  font-size: 100%;
  background: url(assets/fm5builderbackgroundicons_legs.png);
  background-size: 100%;
  background-color: #ffc4c0;
}

#wLHand {
  font-size: 100%;
  background: url(assets/fm5builderbackgroundicons_lhand.png);
  background-size: 100%;
  background-color: #ffc4c0;
}

@media (max-width:1500px) {
  .footer_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;}
 }

 @media (max-width:500px) {

    body {
      font-size: 70%;
      margin-left: 0.2rem;
    }
   
    .header_container {
      display: none;
      text-align: left;
      text-overflow: clip;
      flex-direction: row;
    }

    .main_container {
      justify-content: flex-start;
    }

    .wanzer_container {
      width: 24rem;
      height: 100%;
      border: solid 0.2rem #999999;
      padding: 0.5rem;
    }

    .weightToOutput {
      grid-column: 1 / span 1;
      border: solid 0.1rem black;
      margin: 0.2rem;
      padding: 0.05rem;
      padding-top: 0.16rem;
      font-size: 80%;
    }

    select {
      width: 100%;
      font-size: 95%;
    }

    .stats_grid {
      display: grid;
      grid-template-columns: 8rem 8rem 8rem;
      grid-template-rows: 1.6rem 2rem 8rem 2rem 8rem 2rem 8rem;
    }

    .grid_item {
      border: solid 0.1rem black;
      margin: 0.2rem;
      padding: 0.15rem;
      padding-right: 0.10rem;
      padding-top: 0.1rem;
    }
 }
